question1:

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

question2:

In [60]:

total_sum = 0 
for i in range(1, 101):
    total_sum += i

print("Sum of numbers from 1 to 100 is:", total_sum)

Sum of numbers from 1 to 100 is: 5050

question3:

In [50]:
num=7
for i in range(1,11):
 print(f"{num}*{i} = {num*i}")

7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

#OR

In [54]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

enter a number: 220

220*1=220
220*2=440
220*3=660
220*4=880
220*5=1100
220*6=1320
220*7=1540
220*8=1760
220*9=1980
220*10=2200

question4:

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0 
odd_count = 0 

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Total even numbers:", even_count)
print("Total odd numbers:", odd_count)

Total even numbers: 5
Total odd numbers: 5

 question5:

In [5]:
num = int(input("Enter a number: "))

factorial = 1

for i in range(1, num + 1):
    factorial *= i 
    
print(f"Factorial of {num} is {factorial}")

Enter a number:  50

Factorial of 50 is 30414093201713378043612608166064768844377641568960512000000000000

question6:

In [10]:
num = int(input("Enter the limit for Fibonacci sequence: "))

a, b = 0, 1 

print("Fibonacci sequence:", a, b, end=" ") 

for _ in range(num - 2): 
    next_num = a + b 
    if next_num > num: 
        break
    print(next_num, end=" ")
    a, b = b, next_num

Enter the limit for Fibonacci sequence:  500

Fibonacci sequence: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

question7:

In [13]:
num = int(input("Enter a number: "))

if num < 2:
    print(f"{num} is not a prime number")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

Enter a number:  7

7 is a prime number

question8:

In [16]:
numbers = [10, 25, 7, 89, 56, 98, 34]

largest = numbers[0]

for num in numbers:
    if num > largest: 
        largest = num 

print(f"Largest element in the list is {largest}")

Largest element in the list is 98

question9:

In [19]:
text = input("Enter a string: ")

reversed_text = ""

for char in text:
    reversed_text = char + reversed_text

print(f"Reversed string is: {reversed_text}")

Enter a string:  hello my name is abhay tomar

Reversed string is: ramot yahba si eman ym olleh

question10:

In [22]:
list1 = [1, 2, 3]
list2 = [4, 5, 1]

common_elements = []

for num in list1:
    if num in list2:
        common_elements.append(num)

print(f"Common elements are: {common_elements}")

Common elements are: [1]